<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">
    body{
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
<body>
<meta charset="utf-8">
<div class="container">
  <h2>Dynamic Pills</h2>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#myinfo">个人资料</a></li>
    <li><a data-toggle="pill" href="#chgpwd">更改密码</a></li>
    <li><a data-toggle="pill" href="#friendlist">好友列表</a></li>
    <li><a data-toggle="pill" href="#blacklist">黑名单</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="myinfo" class="tab-pane fade in active">
      <h3>个人资料</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="chgpwd" class="tab-pane fade">
      <h3>更改密码</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="friendlist" class="tab-pane fade">
      <h3>好友列表</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="blacklist" class="tab-pane fade">
      <h3>黑名单</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

</body>
